@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #EFF2F9;
}

main {
  height: 1335px;
  width: 100%;
}

.background__image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 242, 249, 0)), color-stop(70.31%, #EFF2F9)), url(/img/bacterias.jpg);
  background: -o-linear-gradient(top, rgba(239, 242, 249, 0) 0%, #EFF2F9 70.31%), url(/img/bacterias.jpg);
  background: linear-gradient(180deg, rgba(239, 242, 249, 0) 0%, #EFF2F9 70.31%), url(/img/bacterias.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.wrapper {
  width: 1226px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.top__text {
  height: 400px;
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80%;
  color: #0F0F0F;
  padding: 140px 0;
  width: 1360px;
}

.top__small_text {
  font-size: 25px;
  padding-left: 357px;
}

header {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 80%;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 0 5px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #0F0F0F;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 150px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact button {
  background: #6BD276;
  border-radius: 10px;
  width: 165px;
  height: 41px;
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.li__style_section1 {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 42px;
  color: #0F0F0F;
  list-style-type: none;
  padding-top: 50px;
}

.li__flex_section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 75px;
  gap: 33px;
}

.li__flex_section1 img {
  width: 63px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 77px;
  position: relative;
  height: 771px;
}

.container__img {
  padding-top: 125px;
}

.section1__green_button button {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-size: 27px;
  line-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #6BD276;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.section2__wrapper {
  width: 100%;
  margin: auto;
  padding-bottom: 40PX;
  background: #00B7B4;
  -webkit-box-shadow: -294px 390px 196px rgba(0, 0, 0, 0.01), -166px 220px 165px rgba(0, 0, 0, 0.05), -74px 98px 122px rgba(0, 0, 0, 0.09), -18px 24px 67px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -294px 390px 196px rgba(0, 0, 0, 0.01), -166px 220px 165px rgba(0, 0, 0, 0.05), -74px 98px 122px rgba(0, 0, 0, 0.09), -18px 24px 67px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.top__header {
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-style: normal;
  line-height: 56px;
  color: #FFFFFF;
  padding: 40px 0 20px 0;
}

.first__header {
  font-size: 48px;
}

.second__header {
  font-size: 35px;
  margin-top: 65px;
}

.left__border {
  width: 800px;
  height: 790px;
  background: #D9D9D9;
  border-radius: 0 431px 431px 0;
  position: relative;
}

.right__border {
  width: 800px;
  height: 790px;
  background: #D9D9D9;
  border-radius: 431px 0 0 431px;
}

.ellipses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rigth_border_img {
  height: 720px;
  width: 360px;
  position: relative;
  left: 30px;
  top: 35px;
}

.left__border img {
  height: 720px;
  width: 360px;
  position: absolute;
  right: 30px;
  top: 35px;
}

.border_description {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  line-height: 37px;
  color: #3F47AA;
  width: 370px;
  padding: 30px 0 0 30px;
}

.blue__header1_style {
  font-weight: 700;
  font-size: 27px;
  text-align: right;
}

.blue__header2_style {
  font-weight: 700;
  font-size: 25px;
  font-weight: lighter;
  color: #868DE5;
  text-align: right;
}

.left__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left__border_blue_style {
  font-size: 19px;
  font-weight: bold;
  line-height: 27px;
  margin-top: 50px;
}

.left__border_center_blue {
  text-align: center;
  margin: 80px 0 40px 0;
}

.left_border_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 70px;
}

.left_border_list ul {
  list-style-type: none;
  padding-bottom: 20px;
}

.left_border_list li {
  padding-bottom: 20px;
}

.left__border_second_list {
  margin-left: 60px;
}

.section2__green_button button {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background: #6BD276;
  border-radius: 10px;
  width: 350px;
  height: 72px;
  margin: auto;
}

.right__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right__border_description {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  line-height: 37px;
  color: #3F47AA;
  width: 370px;
  margin: 30px 0 0 60px;
}

.blue__header1_style_right {
  font-weight: 700;
  font-size: 27px;
  text-align: left;
}

.blue__header2_style_right {
  font-weight: 700;
  font-size: 25px;
  font-weight: lighter;
  color: #868DE5;
  text-align: left;
}

.choose__location_text {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 19px;
  line-height: 31px;
  color: #3F47AA;
  margin: 50px 0 20px 0;
}

.choose__location {
  margin-bottom: 30px;
  width: 100%;
}

.choose__location p {
  width: 157px;
  text-align: center;
}

.choose__location_VanNuys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location__padding_right {
  padding-right: 55px;
}

.location__padding_left {
  padding-left: 30px;
}

.choose__location_VanNuys img {
  width: 157px;
  height: 108px;
}

.choose__location_city {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-size: 19px;
  color: #868DE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3__wrapper {
  width: 100%;
  background-color: #EFF2F9;
  -webkit-box-shadow: -294px 390px 196px rgba(0, 0, 0, 0.01), -166px 220px 165px rgba(0, 0, 0, 0.05), -74px 98px 122px rgba(0, 0, 0, 0.09), -18px 24px 67px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -294px 390px 196px rgba(0, 0, 0, 0.01), -166px 220px 165px rgba(0, 0, 0, 0.05), -74px 98px 122px rgba(0, 0, 0, 0.09), -18px 24px 67px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.section3__header {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
  color: #000000;
  padding: 50px 0;
}

.section3__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3__img_padding {
  padding-right: 40px;
  text-align: center;
}

.section3__info img {
  width: 230px;
  height: 170px;
}

.img__description {
  font-family: "Assistant", sans-serif;
  font-style: normal;
  font-weight: light;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #3F47AA;
  margin-top: 20px;
}

.section3__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 30px 0;
}

.section3__bottom_indent {
  margin-right: 30px;
}

.number {
  position: relative;
  right: 27px;
  top: 14px;
}

.webp .background__image{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 242, 249, 0)), color-stop(70.31%, #EFF2F9)), url(/img/bacterias.webp); }

.webp .background__image{ background: -o-linear-gradient(top, rgba(239, 242, 249, 0) 0%, #EFF2F9 70.31%), url(/img/bacterias.webp); }

.webp .background__image{ background: linear-gradient(180deg, rgba(239, 242, 249, 0) 0%, #EFF2F9 70.31%), url(/img/bacterias.webp); }